.sidebar {
  width: 250px;
  background-color: #2c2c54;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar .logo {
  width: 80px; /* Adjust size as needed */
  height: auto;
  margin-bottom: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar ul li {
  padding: 15px 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.sidebar ul li:hover {
  background-color: #5757a6;
  color: #fff;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
}

.sidebar ul li a:hover {
  color: #fff;
}

.sidebar ul li.active {
  background-color: #40407a;
}

.sidebar ul li i {
  margin-right: 10px;
}
